<div class="row justify-content-center">
  <div class="col"></div>
  <div class="col">
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn" (click)="previousPage()">-</button>
      {{ pageNumber + "/" + totalPages }}
      <button type="button" class="btn" (click)="nextPage()">+</button>
    </div>
  </div>
  <div class="col"></div>
</div>

<div class="row p-2">
  <div class="col-2">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Chức năng</a>
        <ng-template ngbNavContent>
          <div class="mb-3">
            <h5>Tải lên</h5>
            <input
              type="file"
              (change)="inputFile($event)"
              accept=".pdf"
              multiple
            />
          </div>
          <div class="mb-3">
            <h5>Tỉ lệ</h5>
            <div class="input-group mb-3">
              <select class="form-select" [(ngModel)]="scale">
                <option [value]="item" *ngFor="let item of scaleOptions">
                  {{ item }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <h5>Ký số</h5>
            <button
              type="button"
              class="btn btn-primary"
              (click)="openSignaturePad(signature)"
            >
              Tạo chữ ký
            </button>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Vị trí</a>
        <ng-template ngbNavContent>
          <div class="scroll">
            <div *ngFor="let file of list; let i = index">
              <div
                *ngFor="let signature of file.signatures; let j = index"
                class="sign-info"
                (click)="
                  selectSignature(i, signature.pageNumber, j);
                  acc.expand('item' + i)
                "
              >
                <p>
                  {{ "Tài liệu: " + file.name }}
                </p>
                <p>{{ "Trang: " + signature.pageNumber }}</p>
                <p>
                  {{
                    "Tọa độ: (X: " + signature.x + ", Y: " + signature.y + ")"
                  }}
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <div class="col-8">
    <div id="outerContainer">
      <div class="pdf-container">
        <ngx-extended-pdf-viewer
          [src]="src!"
          [(page)]="pageNumber"
          [zoom]="scale"
          [useBrowserLocale]="true"
          [showToolbar]="false"
          (pdfLoaded)="pdfLoaded($event)"
          height="100%"
          [showPropertiesButton]="true"
          [showBorders]="false"
          pageViewMode="multiple"
          (click)="setSignature($event)"
          [handTool]="handTool"
        >
          ></ngx-extended-pdf-viewer
        >
      </div>
    </div>
  </div>
  <div class="col-2">
    <ngb-accordion
      [closeOthers]="true"
      #acc="ngbAccordion"
      (shown)="scrollToPage(pageNumber)"
    >
      <ngb-panel *ngFor="let file of list; let i = index" [id]="'item' + i">
        <ng-template ngbPanelHeader>
          <button
            (click)="fileChange(i)"
            onclick="this.blur()"
            ngbPanelToggle
            class="accordion-button"
          >
            <div class="file-name">{{ file.name }}</div>
          </button>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="scroll">
            <div
              class="thumbnail"
              *ngFor="
                let thumbnail of list[fileNumber].thumbnails;
                let i = index
              "
              (click)="pageNumber = i + 1"
            >
              <img
                [id]="i"
                class="thumbnail-img"
                [src]="thumbnail"
                [ngClass]="{ selected: pageNumber == i + 1 }"
              />
              <div>{{ i + 1 }}</div>
              <div
                *ngIf="hasSignature(fileNumber, i + 1)"
                class="signature-tag"
              ></div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<ng-template #signature let-modal>
  <app-signature-pad
    (signatureImage)="setSignatureImage($event)"
  ></app-signature-pad>
</ng-template>

<div class="signature-box" id="drag">Chữ ký số</div>
