<div class="row p-2">
  <div class="col-2">
    <div class="mb-3">
      <h5>Tải lên</h5>
      <input type="file" (change)="inputFile($event)" accept=".pdf" multiple />
    </div>
    <div class="mb-3">
      <h5>Trang</h5>
      <button type="button" class="btn btn-primary" (click)="previousPage()">
        -
      </button>
      {{ pageNumber + "/" + totalPages }}
      <button type="button" class="btn btn-primary" (click)="nextPage()">
        +
      </button>
    </div>
    <div class="mb-3">
      <h5>Tỉ lệ</h5>
      <div class="input-group mb-3">
        <!-- <input type="number" [value]="scale" min="10" max="200" class="form-control" />
        <span class="input-group-text" id="basic-addon2">%</span> -->

        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="scale"
        >
          <option [value]="item" *ngFor="let item of scaleOptions">
            {{ item }}
          </option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <h5>Ký số</h5>
      <button
        type="button"
        class="btn btn-primary"
        (click)="openSignpad(signature)"
      >
        Tạo chữ ký
      </button>
    </div>
  </div>
  <div class="col-8">
    <div id="outerContainer">
      <div class="pdf-container">
        <ngx-extended-pdf-viewer
          [src]="src"
          [(page)]="pageNumber"
          [zoom]="scale"
          [useBrowserLocale]="true"
          [showToolbar]="false"
          (pdfLoaded)="pdfLoaded($event)"
          backgroundColor="none"
          (pageChange)="pageChange($event)"
          height="80%"
          [showPropertiesButton]="true"
          [showBorders]="false"
        ></ngx-extended-pdf-viewer>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="accordion" id="accordionExample">
      <div *ngFor="let file of files; let i = index" class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#item' + i"
            aria-expanded="false"
            (click)="fileChange(i)"
            onclick="this.blur()"
          >
            <div class="file-name">
              {{ file.name }}
            </div>
          </button>
        </h2>
        <div
          [id]="'item' + i"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div *ngIf="choice == i" class="page-item" #item></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #signature let-modal>
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-signature-pad></app-signature-pad>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Close click')"
    >
      Tạo
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Close click')"
    >
      Đóng
    </button>
  </div>
</ng-template>
