.scroll {
  max-height: 100vh;
  overflow-y: auto;
}

.accordion-body {
  text-align: center;
  padding: 0;
  background-color: #cdd3d6;
}

.file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.selected {
  border: 5px solid rgb(27, 21, 21);
}

.thumbnail {
  margin-top: 20px;
  position: relative;
}

.thumbnail-img {
  width: 55%;
  height: 55%;
}

.signature-tag {
  position: absolute;
  height: 10%;
  width: 14%;
  top: 7%;
  left: 17%;
  z-index: 1;
  background-color: #77d2ff;
  border: 1px solid #1a9ee1;
  color: #292b35;
  border-radius: 15%;
}

.sign-info {
  border-bottom: 1px solid black;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
    box-shadow: 5px 5px 10px #efefef;
  }
}

.element {
  background-color: blue;
  border: 2px solid rgb(27, 21, 21);
}
.ng-draggable {
  cursor: grab;
  background-color: #20a8d8;
}
.drag-block-lg {
  width: 300px;
  height: 215px;
  padding-top: 20px;
  color: #fff;
  text-align: center;
  overflow-y: auto;
}
.drag-block {
  width: 200px;
  height: 200px;
  background-color: #20a8d8;
  color: #fff;
  padding: 75px 0;
  line-height: 50px;
  text-align: center;
}
